@use 'vuetify';

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400&family=Satisfy&display=swap');

body {
  font-family: 'Overpass', sans-serif !important;
}

.text-logo {
  font-family: 'Satisfy', cursive !important
}

.w-fit {
  width: fit-content;
}

.normal-case {
  text-transform: none !important;
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.hover\:opacity-80:hover {
  opacity: 0.8
}

.w-screen {
  width: 100vw
}
