@use 'vuetify';

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400&family=Satisfy&display=swap');

body {
  font-family: 'Overpass', sans-serif !important
}

.text-logo {
  font-family: 'Satisfy', cursive !important
}

.text-inherit {
  color: inherit
}

.no-underline {
  text-decoration-line: none
}

.select-none {
  user-select: none
}

.w-fit {
  width: fit-content
}

.pointer-events-none {
  pointer-events: none
}

.cursor-pointer {
  cursor: pointer
}

.hover\:opacity-80:hover {
  opacity: 0.8
}

.w-screen {
  width: 100vw
}

.border-1 {
  border-width: 1px
}

.border-dashed {
  border-style: dashed
}
